/*********FORMULARIO****************************/
<div class="formpanel">
  <div class="formrow">
    <input type="text" class="form-control" placeholder="Nombre" />
  </div>
  <div class="formrow">
    <input type="text" class="form-control" placeholder="Correo Electrónico" />
  </div>
  <div class="formrow">
    <input type="text" class="form-control" placeholder="Telefono" />
  </div>
  <div class="formrow">
    <input type="text" class="form-control" placeholder="Asunto" />
  </div>
  <div class="formrow">
    <textarea class="form-control" placeholder="Mensaje"></textarea>
  </div>
  <input type="submit" class="btn" value="Enviar" />
</div>

/**************************SECCIONES DE OFERTAS**********************///////////
Opening Jobs start
<div class="relatedJobs">
  <h3>Ofertas de Trabajo</h3>
  <ul class="searchList">
    // Job start //este debe ir comentado
    <li>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="jobimg">
            <img src="../assets/images/jobs/jobimg.jpg" alt="Job Name" />
          </div>
          <div class="jobinfo">
            <h3><a href="#.">Vendedor de Servicio.</a></h3>
            <div class="companyName">
              <a href="#.">Distribuidor minorista de combustible</a>
            </div>
            <div class="location">
              <label class="fulltime">Tiempo Completo</label> -
              <span>Bogotá</span>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="listbtn"><a href="#.">Ver</a></div>
        </div>
      </div>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis
        arcu est. Phasellus vel dignissim tellus. Aenean fermentum fermentum
        convallis.
      </p>
    </li>
    Job end //debe ir comentado Job start //debe ir comentado
    <li>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="jobimg">
            <img src="../assets/images/jobs/jobimg.jpg" alt="Job Name" />
          </div>
          <div class="jobinfo">
            <h3><a href="#.">Administrador Estación de Servicio</a></h3>
            <div class="companyName">
              <a href="#.">Distribuidor minorista de combustible</a>
            </div>
            <div class="location">
              <label class="partTime">Lunes-Viernes 8-5pm</label> -
              <span>Cartagena</span>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="listbtn"><a href="#.">Ver</a></div>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis
        arcu est. Phasellus vel dignissim tellus. Aenean fermentum fermentum
        convallis.
      </p>
    </li>
    Job end //debe ir comentado Job start//debe ir comentado
    <li>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="jobimg">
            <img src="../assets/images/jobs/jobimg.jpg" alt="Job Name" />
          </div>
          <div class="jobinfo">
            <h3><a href="#.">Auxiliar Contable</a></h3>
            <div class="companyName">
              <a href="#.">Distribuidor minorista de combustible</a>
            </div>
            <div class="location">
              <label class="partTime">Lunes-Viernes 8-5pm</label> -
              <span>Medellín</span>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="listbtn"><a href="#.">Ver</a></div>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis
        arcu est. Phasellus vel dignissim tellus. Aenean fermentum fermentum
        convallis.
      </p>
    </li>
  </ul>
</div>

/********************DETALLE EDS INFO*****************/
<div class="candidateinfo">
  <div class="userPic">
    <img src="../assets/images/employers/edslasmuralla.jpeg" alt="" />
  </div>
  <div class="title">EDS LAS MURALLAS</div>
  <div class="desi">Combustibles y Servicios Las Murallas S.A.S</div>
  <div class="loctext">
    <i class="fa fa-history" aria-hidden="true"></i>Creacion EDS, Aug 14, 2016
  </div>
  <div class="loctext">
    <i class="fa fa-map-marker" aria-hidden="true"></i> TRANSVERSAL 54 30 100
  </div>
  <div class="clearfix"></div>
</div>

/******************DETALLE SIDEBAR*********************/
<h3>Detalles EDS</h3>

<ul class="jbdetail">
  <li class="row">
    <div class="col-md-6 col-xs-6">Total Empleados:</div>
    <div class="col-md-6 col-xs-6"><span>10-50</span></div>
  </li>
  <li class="row">
    <div class="col-md-6 col-xs-6">Creado en:</div>
    <div class="col-md-6 col-xs-6"><span>2008</span></div>
  </li>
  <li class="row">
    <div class="col-md-6 col-xs-6">Empleos Actuales:</div>
    <div class="col-md-6 col-xs-6"><span>10</span></div>
  </li>
</ul>
