<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjeta de presentacion</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
   <main>
     <div class="cont-tarjeta">
        <div class="cont-tarjeta__logo">
            <img src="img/logo-yt.jpeg" alt="">
            <h1>FENDITRABAJO</h1>
          <p>Recibido</p>
        </div>
        <div class="cont-tarjeta__iconos">
            
            <div class="div2">
                <img src="iconos/icons8-salir-48.png" alt="Salir">
                <p>Salir</p>
            </div>
        </div>
        <article>
            Gracias por comunicarse con nosotros. Su solicitud ha sido radicada con éxito. Nuestros asesores se contactarán con usted en el menor tiempo posible.
        </article>
       </div>
   </main>
</body>
</html>