<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
   <main>
     <div class="cont-tarjeta">
        <div class="cont-tarjeta__logo">
            <img src="img/logo-yt.jpeg" alt="">
             
          <p>Recibido</p>
        </div>
        <div class="text">
                 <div class="logo">
                <img src="img/logo.png">
            </div>
            <p>
                Gracias por confiar en nosotros. Su registro como oferente a sido completado satisfactoriamente. 
            </p>
        </div>
       </div>
   </main>
</body>
</html>